.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
	font-size: 10px !important;
}
.rbc-toolbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	font-size: 16px;
}
.rbc-toolbar button {
	padding: .375rem 0.7	rem;
}
.rbc-time-slot {
	display: hidden;
}