node_modules/
.env
.DS_Store
nodemon.json
CHANGELOG.md
CONTRIBUTING.md
CRA.md
ISSUE_TEMPLATE.md
REACT.md
*.log
api/controllers/wrights\.php

docs/home_profile_flow\.txt

docs/output\.html

models/changes

docs/pins\.text

views/assets/css/bootstarp.min.css

static/